* {
	font-family: "Roboto";
}

.topbar {
	background: gold;
	padding: 30px;
	width: 100%;
}

.row *{
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.card{
	border: 2px solid lightgrey;
	padding: 0px;
}

.info{
	padding: 20px 20px 25px 20px;
}

main{
	margin-top: 30px;
}