* {
	font-family: "Roboto";
}

.topbar {
	background: gold;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.row *{
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.topbar .row:first-of-type{
	margin-bottom: 0px;
}

.card{
	border: 2px solid lightgrey;
	padding: 0px;
	margin-bottom: 30px;
}

.cardimg{
	text-align: center;
}

.info{
	padding: 20px 20px 25px 20px;
}

main{
	margin-top: 30px;
}

.row{
	margin-bottom: 30px;
}

@media only screen and (min-width: 640px){
	.card {
		margin-bottom: 0px;
	}
}